<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>

  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Arr-Disable-Session-Affinity" value="True" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="fingerprint" stopProcessing="true">
          <match url="(.*)(v-[0-9]+/)([\S]+)"/>
          <action type="Rewrite" url="{R:1}/{R:3}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>