<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.5"/>
        <customErrors mode="RemoteOnly" />
        <httpRuntime targetFramework="4.5" enableVersionHeader="false"/>
    </system.web>

    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" cacheControlCustom="public"/>

            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
                <add name="Arr-Disable-Session-Affinity" value="True"/>
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <rules>
                <rule name="Domain enforcer" stopProcessing="true">
                    <match url=".*"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(visualstudioshortcuts.com|localhost)" negate="true"/>
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="http://visualstudioshortcuts.com/{R:0}"/>
                </rule>

                <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*"/>
                    <conditions>
                        <add input="{CACHE_URL}" pattern="*://www.*"/>
                    </conditions>
                    <action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent"/>
                </rule>

                <rule name="blank" stopProcessing="true">
                    <match url="^$"/>
                    <action type="Redirect" url="/2017/"/>
                </rule>

                <rule name="version" stopProcessing="true">
                    <match url="^([0-9]{2,4})/?"/>
                    <action type="Rewrite" url="/?version={R:1}"/>
                </rule>

                <rule name="fingerprint" stopProcessing="true">
                    <match url="(.*)(v-[0-9]+/)([\S]+)"/>
                    <action type="Rewrite" url="{R:1}/{R:3}"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>