@link: dodgerblue;
@headlines: forestgreen;

body {
    font: 15px arial;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    text-align: center;
    font-size: 1.4em;
    margin: 1.5em 0;

    h2, h1 {
        margin: 0;
        padding: 0;
    }

    a {
        color: @link;
        margin-top: 20px;
        display: inline-block;
    }
}

section {
    -moz-columns: 350px auto;
    -webkit-columns: 350px auto;
    columns: 350px auto;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    margin: 1em;
    padding: 0;

    article {
        -webkit-column-break-inside: avoid;
        overflow: hidden;
        margin: 0 auto 1em auto;
        width: 370px;
    }

    h3 {
        font-size: 1.2em;
        border-bottom: 1px solid @link;
        color: @headlines;
    }

    dl {
        margin: 0;
        font: 16px monospace;
    }

    dt {
        font-weight: bold;
        margin-top: 5px;
    }

    dd {
        margin-left: 10px;

        &:before {
            content: '→ ';
            color: @link;
        }
    }
}

aside a {
    position: absolute;
    top: 0;
    right: 0;
    width: 149px;
    height: 149px;
    background: url(/css/github.png) no-repeat;
    text-indent: -9999px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 1px 0;

    p:first-child {
        font-size: 1.4em;
    }

    a {
        color: white;
        text-decoration: none;
    }
}


@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1.8em !important;
    }

    dl {
        font-size: 1.5em !important;
    }
}

@media print {
    body {
        width: 1100px;
    }

    footer {
        display: none;
    }
}
